<?xml version="1.0" encoding="utf-8"?>
<!--
    candleArgs: "WinMerge.wxs" "WixUI_WinMerge.wxs" <extensions>
    lightArgs: "WinMerge.wixobj" "WixUI_WinMerge.wixobj" -ext WixUIExtension -out "<projectname>.msi" <extensions>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <!--
    TODO:
      * Install all files
      * Make a different between 32bit and 64bit
      * Register shell extension
      * Create start menu items
      * Mutli-language support
      * ...
  -->
  <Product Id="$(var.ProductGuid)" 
    Codepage="1252" 
    Language="1033" 
    Manufacturer="$(var.Manufacturer)" 
    Name="$(var.ProductName)" 
    UpgradeCode="$(var.UpgradeGuid)" 
    Version="$(var.ProductVersion)">
    
    <Package Id="*" 
      Comments="$(var.PackageComments)" 
      Compressed="yes" 
      Description="$(var.Manufacturer)" 
      InstallerVersion="200" 
      Keywords="$(var.PackageKeywords)" 
      Languages="1033" 
      Manufacturer="$(var.PackageDescription)" 
      SummaryCodepage="1252" />
    
    <Media Id="1"
      Cabinet="winmerge.cab"
      EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="WinMerge">
          <Directory Id="DOCSDIR" Name="Docs" />
          <Directory Id="FILTERSDIR" Name="Filters" />
          <Directory Id="LANGDIR" Name="Languages" />
          <Directory Id="PLUGINSDIR" Name="MergePlugins" />
        </Directory>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="WinMergeU" Guid="*">
        <File Id="WinMergeUEXE" 
          Name="WinMergeU.exe" 
          Source="..\..\Build\MergeUnicodeRelease\WinMergeU.exe" 
          Vital="yes" />
      </Component>
      
      <!--TODO: Windows 32bit -->
      <Component Id="ShellExtension" Guid="*">
        <File Id="ShellExtensionUDLL" 
          Name="ShellExtensionU.dll" 
          Source="..\..\Build\MergeUnicodeRelease\ShellExtensionU.dll" 
          Vital="yes" />
      </Component>
      
      <!--TODO: Windows 64bit -->
      <Component Id="ShellExtensionX64" Guid="*">
        <File Id="ShellExtensionX64DLL" 
          Name="ShellExtensionX64.dll" 
          Source="..\..\Build\ShellExtensionX64\ShellExtensionX64.dll" 
          Vital="yes" />
      </Component>
      
      <Component Id="libexpat" Guid="*">
        <File Id="libexpatDLL" 
          Name="libexpat.dll" 
          Source="..\..\Build\expat\libexpat.dll" 
          Vital="yes" />
      </Component>
      
      <Component Id="pcre" Guid="*">
        <File Id="pcreDLL" 
          Name="pcre.dll" 
          Source="..\..\Build\pcre\pcre.dll" 
          Vital="yes" />
      </Component>
      
      <Component Id="MergeLang" Guid="*">
        <File Id="MergeLangDLL" 
          Name="MergeLang.dll" 
          Source="..\..\Build\MergeUnicodeRelease\MergeLang.dll" 
          Vital="yes" />
      </Component>
      
      <Component Id="Files" Guid="*">
        <File Id="FilesTXT" 
          Name="Files.txt" 
          Source="..\..\Docs\Users\Files.txt" 
          Vital="no" />
      </Component>
      
      <Component Id="Contributors" Guid="*">
        <File Id="ContributorsTXT" 
          Name="Contributors.txt" 
          Source="..\..\Docs\Users\Contributors.txt" 
          Vital="no" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="DOCSDIR">
      <Component Id="ReadMe" Guid="*">
        <File Id="ReadMeTXT" 
          Name="ReadMe.txt" 
          Source="..\..\Docs\Users\ReadMe.txt" 
          Vital="no" />
      </Component>
      
      <Component Id="ReleaseNotes" Guid="*">
        <File Id="ReleaseNotesHTML" 
          Name="ReleaseNotes.html" 
          Source="..\..\Docs\Users\ReleaseNotes.html" 
          Vital="no" />
      </Component>
      
      <Component Id="ChangeLog" Guid="*">
        <File Id="ChangeLogTXT" 
          Name="ChangeLog.txt" 
          Source="..\..\Docs\Users\ChangeLog.txt" 
          Vital="no" />
      </Component>
      
      <Component Id="WinMergeHelp" Guid="*">
        <File Id="WinMergeCHM" 
          Name="WinMerge.chm" 
          Source="..\..\Build\Manual\htmlhelp\WinMerge.chm" 
          Vital="no" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="FILTERSDIR">
      <Component Id="ADAMulti" Guid="*">
        <File Id="ADAMultiFLT" 
          Name="ADAMulti.flt" 
          Source="..\..\Filters\ADAMulti.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="ASPNET" Guid="*">
        <File Id="ASPNETFLT" 
          Name="ASPNET.flt" 
          Source="..\..\Filters\ASPNET.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="CSharp_loose" Guid="*">
        <File Id="CSharp_looseFLT" 
          Name="CSharp_loose.flt" 
          Source="..\..\Filters\CSharp_loose.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="Delphi" Guid="*">
        <File Id="DelphiFLT" 
          Name="Delphi.flt" 
          Source="..\..\Filters\Delphi.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="FileFilter" Guid="*">
        <File Id="FileFilterTMPL" 
          Name="FileFilter.tmpl" 
          Source="..\..\Filters\FileFilter.tmpl" 
          Vital="no" />
      </Component>
      
      <Component Id="Frontpage" Guid="*">
        <File Id="FrontpageFLT" 
          Name="Frontpage.flt" 
          Source="..\..\Filters\Frontpage.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="MASM" Guid="*">
        <File Id="MASMFLT" 
          Name="MASM.flt" 
          Source="..\..\Filters\MASM.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="Merge_GnuC_loose" Guid="*">
        <File Id="Merge_GnuC_looseFLT" 
          Name="Merge_GnuC_loose.flt" 
          Source="..\..\Filters\Merge_GnuC_loose.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="Merge_VB_loose" Guid="*">
        <File Id="Merge_VB_looseFLT" 
          Name="Merge_VB_loose.flt" 
          Source="..\..\Filters\Merge_VB_loose.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="Merge_VC_loose" Guid="*">
        <File Id="Merge_VC_looseFLT" 
          Name="Merge_VC_loose.flt" 
          Source="..\..\Filters\Merge_VC_loose.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="SourceControl" Guid="*">
        <File Id="SourceControlFLT" 
          Name="SourceControl.flt" 
          Source="..\..\Filters\SourceControl.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="Symbian" Guid="*">
        <File Id="SymbianFLT" 
          Name="Symbian.flt" 
          Source="..\..\Filters\Symbian.flt" 
          Vital="no" />
      </Component>
      
      <Component Id="XML_html" Guid="*">
        <File Id="XML_htmlFLT" 
          Name="XML_html.flt" 
          Source="..\..\Filters\XML_html.flt" 
          Vital="no" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="LANGDIR">
      <Component Id="Brazilian" Guid="*">
        <File Id="BrazilianPO" 
          Name="Brazilian.po" 
          Source="..\..\Src\Languages\Brazilian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Bulgarian" Guid="*">
        <File Id="BulgarianPO" 
          Name="Bulgarian.po" 
          Source="..\..\Src\Languages\Bulgarian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Catalan" Guid="*">
        <File Id="CatalanPO" 
          Name="Catalan.po" 
          Source="..\..\Src\Languages\Catalan.po" 
          Vital="no" />
      </Component>
      
      <Component Id="ChineseSimplified" Guid="*">
        <File Id="ChineseSimplifiedPO" 
          Name="ChineseSimplified.po" 
          Source="..\..\Src\Languages\ChineseSimplified.po" 
          Vital="no" />
      </Component>
      
      <Component Id="ChineseTraditional" Guid="*">
        <File Id="ChineseTraditionalPO" 
          Name="ChineseTraditional.po" 
          Source="..\..\Src\Languages\ChineseTraditional.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Croatian" Guid="*">
        <File Id="CroatianPO" 
          Name="Croatian.po" 
          Source="..\..\Src\Languages\Croatian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Czech" Guid="*">
        <File Id="CzechPO" 
          Name="Czech.po" 
          Source="..\..\Src\Languages\Czech.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Danish" Guid="*">
        <File Id="DanishPO" 
          Name="Danish.po" 
          Source="..\..\Src\Languages\Danish.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Dutch" Guid="*">
        <File Id="DutchPO" 
          Name="Dutch.po" 
          Source="..\..\Src\Languages\Dutch.po" 
          Vital="no" />
      </Component>
      
      <Component Id="French" Guid="*">
        <File Id="FrenchPO" 
          Name="French.po" 
          Source="..\..\Src\Languages\French.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Galician" Guid="*">
        <File Id="GalicianPO" 
          Name="Galician.po" 
          Source="..\..\Src\Languages\Galician.po" 
          Vital="no" />
      </Component>
      
      <Component Id="German" Guid="*">
        <File Id="GermanPO" 
          Name="German.po" 
          Source="..\..\Src\Languages\German.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Greek" Guid="*">
        <File Id="GreekPO" 
          Name="Greek.po" 
          Source="..\..\Src\Languages\Greek.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Hungarian" Guid="*">
        <File Id="HungarianPO" 
          Name="Hungarian.po" 
          Source="..\..\Src\Languages\Hungarian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Italian" Guid="*">
        <File Id="ItalianPO" 
          Name="Italian.po" 
          Source="..\..\Src\Languages\Italian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Japanese" Guid="*">
        <File Id="JapanesePO" 
          Name="Japanese.po" 
          Source="..\..\Src\Languages\Japanese.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Korean" Guid="*">
        <File Id="KoreanPO" 
          Name="Korean.po" 
          Source="..\..\Src\Languages\Korean.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Norwegian" Guid="*">
        <File Id="NorwegianPO" 
          Name="Norwegian.po" 
          Source="..\..\Src\Languages\Norwegian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Polish" Guid="*">
        <File Id="PolishPO" 
          Name="Polish.po" 
          Source="..\..\Src\Languages\Polish.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Portuguese" Guid="*">
        <File Id="PortuguesePO" 
          Name="Portuguese.po" 
          Source="..\..\Src\Languages\Portuguese.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Romanian" Guid="*">
        <File Id="RomanianPO" 
          Name="Romanian.po" 
          Source="..\..\Src\Languages\Romanian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Russian" Guid="*">
        <File Id="RussianPO" 
          Name="Russian.po" 
          Source="..\..\Src\Languages\Russian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Slovak" Guid="*">
        <File Id="SlovakPO" 
          Name="Slovak.po" 
          Source="..\..\Src\Languages\Slovak.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Slovenian" Guid="*">
        <File Id="SlovenianPO" 
          Name="Slovenian.po" 
          Source="..\..\Src\Languages\Slovenian.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Spanish" Guid="*">
        <File Id="SpanishPO" 
          Name="Spanish.po" 
          Source="..\..\Src\Languages\Spanish.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Swedish" Guid="*">
        <File Id="SwedishPO" 
          Name="Swedish.po" 
          Source="..\..\Src\Languages\Swedish.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Turkish" Guid="*">
        <File Id="TurkishPO" 
          Name="Turkish.po" 
          Source="..\..\Src\Languages\Turkish.po" 
          Vital="no" />
      </Component>
      
      <Component Id="Ukrainian" Guid="*">
        <File Id="UkrainianPO" 
          Name="Ukrainian.po" 
          Source="..\..\Src\Languages\Ukrainian.po" 
          Vital="no" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="PLUGINSDIR">
      <Component Id="editoraddin" Guid="*">
        <File Id="editoraddinSCT" 
          Name="editor addin.sct" 
          Source="..\..\Plugins\dlls\editor addin.sct" 
          Vital="no" />
      </Component>
      
      <Component Id="insertdatetime" Guid="*">
        <File Id="insertdatetimeSCT" 
          Name="insert datetime.sct" 
          Source="..\..\Plugins\dlls\insert datetime.sct" 
          Vital="no" />
      </Component>
      
      <Component Id="CompareMSExcelFiles" Guid="*">
        <File Id="CompareMSExcelFilesDLL" 
          Name="CompareMSExcelFiles.dll" 
          Source="..\..\Plugins\dlls\CompareMSExcelFiles.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="CompareMSWordFiles" Guid="*">
        <File Id="CompareMSWordFilesDLL" 
          Name="CompareMSWordFiles.dll" 
          Source="..\..\Plugins\dlls\CompareMSWordFiles.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="DisplayXMLFiles" Guid="*">
        <File Id="DisplayXMLFilesDLL" 
          Name="DisplayXMLFiles.dll" 
          Source="..\..\Plugins\dlls\DisplayXMLFiles.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="IgnoreColumns" Guid="*">
        <File Id="IgnoreColumnsDLL" 
          Name="IgnoreColumns.dll" 
          Source="..\..\Plugins\dlls\IgnoreColumns.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="IgnoreCommentsC" Guid="*">
        <File Id="IgnoreCommentsCDLL" 
          Name="IgnoreCommentsC.dll" 
          Source="..\..\Plugins\dlls\IgnoreCommentsC.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="IgnoreFieldsComma" Guid="*">
        <File Id="IgnoreFieldsCommaDLL" 
          Name="IgnoreFieldsComma.dll" 
          Source="..\..\Plugins\dlls\IgnoreFieldsComma.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="IgnoreFieldsTab" Guid="*">
        <File Id="IgnoreFieldsTabDLL" 
          Name="IgnoreFieldsTab.dll" 
          Source="..\..\Plugins\dlls\IgnoreFieldsTab.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="IgnoreLeadingLineNumbers" Guid="*">
        <File Id="IgnoreLeadingLineNumbersDLL" 
          Name="IgnoreLeadingLineNumbers.dll" 
          Source="..\..\Plugins\dlls\IgnoreLeadingLineNumbers.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="WatchBeginningOfLog" Guid="*">
        <File Id="WatchBeginningOfLogDLL" 
          Name="WatchBeginningOfLog.dll" 
          Source="..\..\Plugins\dlls\WatchBeginningOfLog.dll" 
          Vital="no" />
      </Component>
      
      <Component Id="WatchEndOfLog" Guid="*">
        <File Id="WatchEndOfLogDLL" 
          Name="WatchEndOfLog.dll" 
          Source="..\..\Plugins\dlls\WatchEndOfLog.dll" 
          Vital="no" />
      </Component>
    </DirectoryRef>
    
    <!--
      * Level <= 3 is "Typical"
      * Level <= 1000 is "Complete"
    -->
    <Feature Id="WinMerge" 
      Absent="disallow" 
      ConfigurableDirectory="INSTALLDIR" 
      Display="expand" 
      Level="1" 
      Title="WinMerge">
      <ComponentRef Id="WinMergeU" />
      <ComponentRef Id="ShellExtension" />
      <ComponentRef Id="ShellExtensionX64" />
      <ComponentRef Id="libexpat" />
      <ComponentRef Id="pcre" />
      <ComponentRef Id="MergeLang" />
      <Feature Id="Documentation" Level="1" Title="Documentation">
        <ComponentRef Id="Files" />
        <ComponentRef Id="Contributors" />
        <ComponentRef Id="ReadMe" />
        <ComponentRef Id="ReleaseNotes" />
        <ComponentRef Id="ChangeLog" />
        <ComponentRef Id="WinMergeHelp" />
      </Feature>
      <Feature Id="Filters" Level="1" Title="Filters">
        <ComponentRef Id="ADAMulti" />
        <ComponentRef Id="ASPNET" />
        <ComponentRef Id="CSharp_loose" />
        <ComponentRef Id="Delphi" />
        <ComponentRef Id="FileFilter" />
        <ComponentRef Id="Frontpage" />
        <ComponentRef Id="MASM" />
        <ComponentRef Id="Merge_GnuC_loose" />
        <ComponentRef Id="Merge_VB_loose" />
        <ComponentRef Id="Merge_VC_loose" />
        <ComponentRef Id="SourceControl" />
        <ComponentRef Id="Symbian" />
        <ComponentRef Id="XML_html" />
      </Feature>
      <Feature Id="Languages" Level="1" Title="Languages">
        <ComponentRef Id="Brazilian" />
        <ComponentRef Id="Bulgarian" />
        <ComponentRef Id="Catalan" />
        <ComponentRef Id="ChineseSimplified" />
        <ComponentRef Id="ChineseTraditional" />
        <ComponentRef Id="Croatian" />
        <ComponentRef Id="Czech" />
        <ComponentRef Id="Danish" />
        <ComponentRef Id="Dutch" />
        <ComponentRef Id="French" />
        <ComponentRef Id="Galician" />
        <ComponentRef Id="German" />
        <ComponentRef Id="Greek" />
        <ComponentRef Id="Hungarian" />
        <ComponentRef Id="Italian" />
        <ComponentRef Id="Japanese" />
        <ComponentRef Id="Korean" />
        <ComponentRef Id="Norwegian" />
        <ComponentRef Id="Polish" />
        <ComponentRef Id="Portuguese" />
        <ComponentRef Id="Romanian" />
        <ComponentRef Id="Russian" />
        <ComponentRef Id="Slovak" />
        <ComponentRef Id="Slovenian" />
        <ComponentRef Id="Spanish" />
        <ComponentRef Id="Swedish" />
        <ComponentRef Id="Turkish" />
        <ComponentRef Id="Ukrainian" />
      </Feature>
      <Feature Id="Plugins" Level="4" Title="Plugins">
        <ComponentRef Id="editoraddin" />
        <ComponentRef Id="insertdatetime" />
        <ComponentRef Id="CompareMSExcelFiles" />
        <ComponentRef Id="CompareMSWordFiles" />
        <ComponentRef Id="DisplayXMLFiles" />
        <ComponentRef Id="IgnoreColumns" />
        <ComponentRef Id="IgnoreCommentsC" />
        <ComponentRef Id="IgnoreFieldsComma" />
        <ComponentRef Id="IgnoreFieldsTab" />
        <ComponentRef Id="IgnoreLeadingLineNumbers" />
        <ComponentRef Id="WatchBeginningOfLog" />
        <ComponentRef Id="WatchEndOfLog" />
      </Feature>
    </Feature>
    
    <!-- TODO: Works this really? -->
    <Condition Message="WinMerge requires Windows 2000/XP/2003/Vista/2008 or later to install.">
      <![CDATA[( VersionNT <= 500 ) OR ( Version9x <> 0 )]]>
    </Condition>
    
    <WixVariable Id="WixUILicenseRtf" Value="..\..\Docs\users\GPL.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp" /> 
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.bmp" />
    
    <UIRef Id="WixUI_WinMerge" />
    
    <UI />
    
  </Product>
</Wix>