<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Config.wxi ?>
  <Fragment>
    <!--
      * Level <= 3 is "Typical"
      * Level <= 1000 is "Complete"
    -->
    <Feature Id="WinMerge" 
      Absent="disallow" 
      AllowAdvertise="no" 
      ConfigurableDirectory="INSTALLDIR" 
      Display="expand" 
      Level="1" 
      Title="WinMerge">
      <ComponentRef Id="WinMergeU" />
      <ComponentRef Id="libexpat" />
      <ComponentRef Id="pcre" />
      <ComponentRef Id="MergeLang" />
      <Feature Id="ShellExtension" 
        AllowAdvertise="no" 
        Description="Explorer context menu integration" 
        Level="1" 
        Title="Shell Extension">
        <ComponentRef Id="ShellExtension" />
      </Feature>
      <Feature Id="StartMenuShortcuts" 
        AllowAdvertise="no" 
        Level="1" 
        Title="Startmenu shortcut">
        <ComponentRef Id="StartMenuShortcuts" />
      </Feature>
      <Feature Id="DesktopShortcut" 
        AllowAdvertise="no" 
        Level="1" 
        Title="Desktop shortcut">
        <ComponentRef Id="DesktopShortcut" />
      </Feature>
      <Feature Id="Documentation" Absent="disallow" AllowAdvertise="no" Display="hidden" Level="1" Title="Documentation">
        <ComponentRef Id="Files" />
        <ComponentRef Id="Contributors" />
        <ComponentRef Id="ReadMe" />
        <ComponentRef Id="ReleaseNotes" />
        <ComponentRef Id="ChangeLog" />
        <ComponentRef Id="WinMergeHelp" />
      </Feature>
      <Feature Id="Filters" AllowAdvertise="no" Level="1" Title="Filters">
        <ComponentRef Id="ADAMulti" />
        <ComponentRef Id="ASPNET" />
        <ComponentRef Id="CSharp_loose" />
        <ComponentRef Id="Delphi" />
        <ComponentRef Id="FileFilter" />
        <ComponentRef Id="Frontpage" />
        <ComponentRef Id="MASM" />
        <ComponentRef Id="Merge_GnuC_loose" />
        <ComponentRef Id="Merge_VB_loose" />
        <ComponentRef Id="Merge_VC_loose" />
        <ComponentRef Id="SourceControl" />
        <ComponentRef Id="Symbian" />
        <ComponentRef Id="XML_html" />
      </Feature>
      <Feature Id="Languages" AllowAdvertise="no" Level="1" Title="Languages">
        <ComponentRef Id="Brazilian" />
        <ComponentRef Id="Bulgarian" />
        <ComponentRef Id="Catalan" />
        <ComponentRef Id="ChineseSimplified" />
        <ComponentRef Id="ChineseTraditional" />
        <ComponentRef Id="Croatian" />
        <ComponentRef Id="Czech" />
        <ComponentRef Id="Danish" />
        <ComponentRef Id="Dutch" />
        <ComponentRef Id="French" />
        <ComponentRef Id="Galician" />
        <ComponentRef Id="German" />
        <ComponentRef Id="Greek" />
        <ComponentRef Id="Hungarian" />
        <ComponentRef Id="Italian" />
        <ComponentRef Id="Japanese" />
        <ComponentRef Id="Korean" />
        <ComponentRef Id="Norwegian" />
        <ComponentRef Id="Polish" />
        <ComponentRef Id="Portuguese" />
        <ComponentRef Id="Romanian" />
        <ComponentRef Id="Russian" />
        <ComponentRef Id="Slovak" />
        <ComponentRef Id="Slovenian" />
        <ComponentRef Id="Spanish" />
        <ComponentRef Id="Swedish" />
        <ComponentRef Id="Turkish" />
        <ComponentRef Id="Ukrainian" />
      </Feature>
      <Feature Id="CRT" AllowAdvertise="no" Display="hidden" Level="1" Title="Microsoft Visual C++ 2005 Runtime Components ">
        <MergeRef Id="CRT"/>
      </Feature>
      <Feature Id="MFC" AllowAdvertise="no" Display="hidden" Level="1" Title="Microsoft Visual C++ 2005 MFC Components ">
        <MergeRef Id="MFC"/>
      </Feature>
    </Feature>
  </Fragment>
</Wix>
