
**/.vs
**/ipch

**/BuildTmp
**/Build
**/obj64
**/obj
**/lib64
**/lib
**/x64Release
**/Release
**/x64Debug
**/Debug

*.exe
*.pdb
*.bak
*.VC.db
*.VC.VC.opendb

Testing/Data/ShellFileOpTest/File1.txt
Translations/WinMerge/MergeLang.rc
/ShellExtension/dlldata.c
/ShellExtension/ShellExtension.h
