[submodule "Externals/frhed"]
	path = Externals/frhed
	url = https://github.com/WinMerge/frhed.git
[submodule "Externals/winimerge"]
	path = Externals/winimerge
	url = https://github.com/WinMerge/winimerge.git
[submodule "Externals/patch"]
	path = Externals/patch
	url = https://github.com/WinMerge/patch.git
[submodule "Externals/sevenzip"]
	path = Externals/sevenzip
	url = https://github.com/WinMerge/sevenzip.git
[submodule "Externals/freeimage"]
	path = Externals/freeimage
	url = https://github.com/WinMerge/freeimage.git
[submodule "Externals/tidy-html5"]
	path = Externals/tidy-html5
	url = https://github.com/htacg/tidy-html5
[submodule "Externals/jq"]
	path = Externals/jq
	url = https://github.com/stedolan/jq
[submodule "Externals/wil"]
	path = Externals/wil
	url = https://github.com/microsoft/wil
[submodule "Externals/winwebdiff"]
	path = Externals/winwebdiff
	url = https://github.com/WinMerge/winwebdiff
[submodule "Externals/md4c"]
	path = Externals/md4c
	url = https://github.com/mity/md4c
[submodule "Externals/darkmodelib"]
	path = Externals/darkmodelib
	url = https://github.com/ozone10/darkmodelib.git
