*.exe
*.dll
*.pdb
*.bak
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
*.ilk
*.aps
*.tlb
*.vspx
*.vsp
*.psess
*.cppcheck
*.un~
*.*~
*.obj
*.res
*.tlog
*.pch
*.idb
*.log
*.diagsession
*.asm
*.swp
*.lastbuild
*.mo
**/.vs
**/ipch
**/BuildTmp
**/Build
**/objARM64
**/objARM
**/obj64
**/obj
**/libARM64
**/libARM
**/lib64
**/lib
**/Release
**/Debug
**/DebugU
**/Release*MinDependency
**/Release*MinSize
**/Unicode Debug
**/Unicode Release
**/Unicode Release*MinDependency
**/Unicode Release*MinSize
**/ARM64Release
**/ARM64Debug
**/ARMRelease
**/ARMDebug
**/x64Release
**/x64Debug
**/Win32Release
**/Win32Debug
.vscode
winmerge-cppcheck-build-dir/
Docs/Manual/Tools/ReadMe_ENG.html
Testing/Data/ShellFileOpTest/File1.txt
Testing/result-*.txt
Testing/PerfTest*.cmd
Testing/result.csv
Translations/WinMerge/MergeLang.lastbuild
ShellExtension/ShellExtension/*_i.c
ShellExtension/ShellExtension/*_p.c
ShellExtension/ShellExtension/dlldata.c
ShellExtension/ShellExtension/ShellExtension.h
ShellExtension/ShellExtension/ShellExtension_i.c
ShellExtension/ShellExtension/ShellExtension_p.c
ShellExtension/selfsigncert.cer
ShellExtension/selfsigncert.pfx
ShellExtension/WinMergeContextMenuPackage.msix
ShellExtension/WinMergePkg/resources.pri
ShellExtension/WinMergePkg/AppxManifest.xml
ShellExtension/publisher.txt
packages/
Plugins/**/dlldata.c
Plugins/**/*_i.c
Plugins/**/*_i.h
Plugins/**/*_p.c
Plugins/src_VCPP/DisplayBinaryFiles/DisplayBinaryFiles.h
Plugins/src_VCPP/DisplayXMLFiles/DisplayXMLFiles.h
Plugins/src_VCPP/HideFirstLetter/HideFirstLetter.h
Plugins/src_VCPP/EditBinaryFiles/EditBinaryFiles.h
Plugins/src_VCPP/IgnoreColumns/IgnoreColumns.h
Plugins/src_VCPP/IgnoreCommentsC/IgnoreCommentsC.h
Plugins/src_VCPP/IgnoreFieldsComma/IgnoreFieldsComma.h
Plugins/src_VCPP/IgnoreFieldsTab/IgnoreFieldsTab.h
Plugins/src_VCPP/WatchBeginningOfLog/WatchBeginningOfLog.h
Plugins/src_VCPP/WatchEndOfLog/WatchEndOfLog.h
Tools/Scripts/MenuResources.txt
Tools/Scripts/UnusedResources.txt
Testing/Data/Symlink/Dir1/s1_s0.txt
Testing/Data/Symlink/Dir1/s1_s1.txt
Testing/Data/Symlink/Dir1/sf12_diff_s01.txt
Testing/Data/Symlink/Dir1/sf12_diff_s10.txt
Testing/Data/Symlink/Dir1/sf12_diff_s11.txt
Testing/Data/Symlink/Dir1/sf12_diff_s12.txt
Testing/Data/Symlink/Dir1/sf12_diff_s21.txt
Testing/Data/Symlink/Dir1/sf12_same_s00.txt
Testing/Data/Symlink/Dir1/sf12_same_s11.txt
Testing/Data/Symlink/Dir1/ss12_diff_s01.txt
Testing/Data/Symlink/Dir1/ss12_diff_s10.txt
Testing/Data/Symlink/Dir1/ss12_diff_s11.txt
Testing/Data/Symlink/Dir1/ss12_diff_s12.txt
Testing/Data/Symlink/Dir1/ss12_diff_s21.txt
Testing/Data/Symlink/Dir1/ss12_same_s00.txt
Testing/Data/Symlink/Dir1/ss12_same_s11.txt
Testing/Data/Symlink/Dir2/fs12_diff_s01.txt
Testing/Data/Symlink/Dir2/fs12_diff_s10.txt
Testing/Data/Symlink/Dir2/fs12_diff_s11.txt
Testing/Data/Symlink/Dir2/fs12_diff_s12.txt
Testing/Data/Symlink/Dir2/fs12_diff_s21.txt
Testing/Data/Symlink/Dir2/fs12_same_s00.txt
Testing/Data/Symlink/Dir2/fs12_same_s11.txt
Testing/Data/Symlink/Dir2/s2_s0.txt
Testing/Data/Symlink/Dir2/s2_s1.txt
Testing/Data/Symlink/Dir2/ss12_diff_s01.txt
Testing/Data/Symlink/Dir2/ss12_diff_s10.txt
Testing/Data/Symlink/Dir2/ss12_diff_s11.txt
Testing/Data/Symlink/Dir2/ss12_diff_s12.txt
Testing/Data/Symlink/Dir2/ss12_diff_s21.txt
Testing/Data/Symlink/Dir2/ss12_same_s00.txt
Testing/Data/Symlink/Dir2/ss12_same_s11.txt
Src/MergeAppLib_i.c
Src/MergeAppLib_p.c
Src/dlldata.c
/Testing/PluginTests/result
.idea/
*.testdurations
*.lastcodeanalysissucceeded
*.lib
unittest-cppcheck-build-dir/
Src/FilterEngine/FilterLexer.cpp
Src/FilterEngine/FilterParser.c
