Testing/GoogleTest/UnitTests/x64Release
Testing/GoogleTest/UnitTests/x64Debug
Testing/GoogleTest/UnitTests/Release
Testing/GoogleTest/UnitTests/Debug/
Externals/poco/Foundation/obj64
Externals/poco/Foundation/obj
Externals/poco/Util/obj64
Externals/poco/Util/obj
Externals/poco/XML/obj64
Externals/poco/XML/obj
Externals/poco/lib
Externals/poco/lib64
BuildTmp
Build
Testing/GoogleTest/UnitTests/UnitTests.exe
Testing/GoogleTest/UnitTests/*.pdb
Testing/Data/ShellFileOpTest/File1.txt
Translations/WinMerge/MergeLang.rc
.vs/
*.bak
*.VC.db
*.VC.VC.opendb
ipch/*
