// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_PLUGIN_PROCESS_TYPE1 "Prettification"
    IDS_PLUGIN_PROCESS_TYPE2 "Content Extraction"
    IDS_PLUGIN_PROCESS_TYPE3 "Preview"
    IDS_PLUGIN_PROCESS_TYPE4 "Editor script"
    IDS_PLUGIN_PROCESS_TYPE5 "Data Query"
    IDS_PLUGIN_PROCESS_TYPE6 "Validation"
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_PROCESS_TYPE7 "Decompilation"
    IDS_PLUGIN_PROCESS_TYPE8 "URL Handling"
    IDS_PLUGIN_MENU_CAPTION1 "Make Uppercase"
    IDS_PLUGIN_MENU_CAPTION2 "Make Lowercase"
    IDS_PLUGIN_MENU_CAPTION3 "Remove Duplicate Lines"
    IDS_PLUGIN_MENU_CAPTION4 "Count Duplicate Lines"
    IDS_PLUGIN_MENU_CAPTION5 "Sort Lines Ascending"
    IDS_PLUGIN_MENU_CAPTION6 "Sort Lines Descending"
    IDS_PLUGIN_MENU_CAPTION7 "Reverse Columns"
    IDS_PLUGIN_MENU_CAPTION8 "Reverse Lines"
    IDS_PLUGIN_MENU_CAPTION9 "Replace..."
    IDS_PLUGIN_MENU_CAPTION10 "Apply Filter Command..."
    IDS_PLUGIN_MENU_CAPTION11 "Tokenize..."
    IDS_PLUGIN_MENU_CAPTION12 "Trim Spaces"
    IDS_PLUGIN_MENU_CAPTION13 "Select Columns..."
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_MENU_CAPTION14 "Select Lines..."
    IDS_PLUGIN_MENU_CAPTION15 "Insert Date"
    IDS_PLUGIN_MENU_CAPTION16 "Insert Time"
    IDS_PLUGIN_MENU_CAPTION17 "Apply Patch..."
    IDS_PLUGIN_MENU_CAPTION18 "Ignore Columns"
    IDS_PLUGIN_MENU_CAPTION19 "Ignore Comments (C-Family Languages)"
    IDS_PLUGIN_MENU_CAPTION20 "Ignore CSV Fields"
    IDS_PLUGIN_MENU_CAPTION21 "Ignore TSV Fields"
    IDS_PLUGIN_MENU_CAPTION22 "Ignore Leading Line Numbers"
    IDS_PLUGIN_MENU_CAPTION23 "Apply Prediff Substitution Filters"
    IDS_PLUGIN_MENU_CAPTION24 "Prettify HTML"
    IDS_PLUGIN_MENU_CAPTION25 "Prettify JSON"
    IDS_PLUGIN_MENU_CAPTION26 "Prettify XML"
    IDS_PLUGIN_MENU_CAPTION27 "Prettify YAML"
    IDS_PLUGIN_MENU_CAPTION28 "Preview Graphviz"
    IDS_PLUGIN_MENU_CAPTION29 "Preview Markdown"
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_MENU_CAPTION30 "Preview PlantUML"
    IDS_PLUGIN_MENU_CAPTION31 "Query CSV Data..."
    IDS_PLUGIN_MENU_CAPTION32 "Query TSV Data..."
    IDS_PLUGIN_MENU_CAPTION33 "Query JSON Data..."
    IDS_PLUGIN_MENU_CAPTION34 "Query YAML Data..."
    IDS_PLUGIN_MENU_CAPTION35 "Validate HTML"
    IDS_PLUGIN_MENU_CAPTION36 "Disassemble JVM Bytecode"
    IDS_PLUGIN_MENU_CAPTION37 "Disassemble IL Code"
    IDS_PLUGIN_MENU_CAPTION38 "Disassemble Native Code"
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION1 "Make characters uppercase"
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION2 "Make characters lowercase"
    IDS_PLUGIN_DESCRIPTION3 "Remove duplicate lines"
    IDS_PLUGIN_DESCRIPTION4 "Count duplicate lines"
    IDS_PLUGIN_DESCRIPTION5 "Sort lines ascending"
    IDS_PLUGIN_DESCRIPTION6 "Sort lines descending"
    IDS_PLUGIN_DESCRIPTION7 "Reverse columns"
    IDS_PLUGIN_DESCRIPTION8 "Reverse lines"
    IDS_PLUGIN_DESCRIPTION9 "Replace text with another text.\r\nUsage: Replace [-i] [-e] FIND REPLACE\r\n  FIND    - text to find\r\n  REPLACE - text to replace\r\n  -i - ignore case (only for -e)\r\n  -e - treat the specified text as a regular expression"
    IDS_PLUGIN_DESCRIPTION10 
                            "Apply filter command. \r\nUsage: ExecFilterCommand COMMAND\r\n  COMMAND - command to execute. %1 in the command is replaced with the filename."
    IDS_PLUGIN_DESCRIPTION11 
                            "Tokenize selection. \r\nUsage: Tokenize PATTERNS\r\n  PATTERNS - regular expression for tokenizing. (e.g. [^\\w]+)"
    IDS_PLUGIN_DESCRIPTION12 "Trim spaces"
    IDS_PLUGIN_DESCRIPTION13 
                            "Select some columns.\r\nUsage: SelectColumns RANGES\r\n   or: SelectColumns [-v] [-i] [-g] -e PATTERNS\r\n  RANGES   - list of column ranges to select. (e.g. -3,5-10,30-)\r\n  PATTERNS - regular expression\r\n  -v - select non-matching columns\r\n  -i - ignore case\r\n  -g - enable global flag\r\n  -e - use PATTERNS for matching"
    IDS_PLUGIN_DESCRIPTION14 
                            "Select some lines.\r\nUsage: SelectLines RANGES\r\n   or: SelectLines [-v] [-i] -e PATTERNS\r\n  RANGES   - list of line ranges to select. (e.g. -3,5-10,30-)\r\n  PATTERNS - regular expression\r\n  -v - select non-matching lines\r\n  -i - ignore case\r\n  -e - use PATTERNS for matching"
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION23 
                            "HTML Prettier with tidy-html5. \r\nArguments: Command line options passed to the tidy command."
    IDS_PLUGIN_DESCRIPTION24 
                            "JSON Prettier with jq command. \r\nArguments: Filter or command line options passed to the jq command."
    IDS_PLUGIN_DESCRIPTION25 
                            "XML Prettier with tidy-html5. \r\nArguments: Command line options passed to the tidy command."
    IDS_PLUGIN_DESCRIPTION26 
                            "YAML Prettier with yq command. \r\nArguments: Filter or command line options passed to the yq command."
    IDS_PLUGIN_DESCRIPTION27 
                            "Graphviz Previewer. \r\nArguments: Command line options passed to the dot command."
    IDS_PLUGIN_DESCRIPTION28 
                            "Markdown Previewer. \r\nArguments: Command line options passed to the md2html command."
    IDS_PLUGIN_DESCRIPTION29 
                            "PlantUML Previewer. \r\nArguments: Command line options passed to the plantuml.jar command."
    IDS_PLUGIN_DESCRIPTION30 
                            "CSV Querier with q command. \r\nArguments: SQL statement or command line options passed to the q command."
    IDS_PLUGIN_DESCRIPTION31 
                            "TSV Querier with q command. \r\nArguments: SQL statement or command line options passed to the q command."
    IDS_PLUGIN_DESCRIPTION32 
                            "JSON Querier with jq command. \r\nArguments: Filter or command line options passed to the jq command."
    IDS_PLUGIN_DESCRIPTION33 
                            "YAML Querier with yq command. \r\nArguments: Filter or command line options passed to the yq command."
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION34 
                            "HTML Validator with tidy-html5. \r\nArguments: Command line options passed to the tidy command."
    IDS_PLUGIN_DESCRIPTION35 
                            "JVM bytecode disassembler with javap. \r\nArguments: Command line options passed to the javap command."
    IDS_PLUGIN_DESCRIPTION36 
                            "IL disassembler with ildasm. \r\nArguments: Command line options passed to the ildasm command."
    IDS_PLUGIN_DESCRIPTION37 
                            "Native code disassembler with dumpbin. \r\nArguments: Command line options passed to the dumpbin command."
    IDS_PLUGIN_DESCRIPTION38 
                            "General content extractor with Apache Tika. \r\nArguments: Command line options passed to the tika-app.jar."
    IDS_PLUGIN_DESCRIPTION39 "Apply patch using GnuWin32 Patch for Windows"
    IDS_PLUGIN_DESCRIPTION40 "Display the text content of MS Excel files"
    IDS_PLUGIN_DESCRIPTION41 "Display the text content of MS PowerPoint files"
    IDS_PLUGIN_DESCRIPTION42 "Display the text content of MS Visio files"
    IDS_PLUGIN_DESCRIPTION43 "Display the text content of MS Word files"
    IDS_PLUGIN_DESCRIPTION44 
                            "Ignore some columns - ignored columns list from the plugin name or the plugin argument"
    IDS_PLUGIN_DESCRIPTION45 
                            "The plugin ignores comments (//... and /* ... */) in C, C++, PHP and JavaScript files."
    IDS_PLUGIN_DESCRIPTION46 
                            "Ignore some fields - ignored fields list from the plugin name or the plugin argument"
    IDS_PLUGIN_DESCRIPTION47 "Prediff Line Filter"
    IDS_PLUGIN_DESCRIPTION48 "Basic text functions for the context menu"
    IDS_PLUGIN_DESCRIPTION49 
                            "HTTP URL Scheme Handler with curl. \r\nArguments: Command line options passed to the curl command."
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION50 
                            "Windows Registry URL Scheme Handler. \r\nArguments: Command line options passed to the reg.exe command."
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

