body {
	margin: 0;
	padding: 0;
	color: black;
	background: white;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: small;
}

code,pre {
	font-family: "Courier New",Courier,monospace;
	font-size: 1em;
}

h1 { font-size: 300%; }
h2 { font-size: 200%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }

ul {
	list-style-type: square;
}

/* Default link style */
a:link { color:black; text-decoration:underline; }
a:visited { color:black; text-decoration:underline; }
a:focus { color:black; text-decoration:none; }
a:hover { color:black; text-decoration:none; }
a:active { color:black; text-decoration:none; }

a[name]:hover { color:black; text-decoration:none; }

#head {
	margin: 0;
	padding: 5px;
	background: white;
	border-bottom: 1px solid black;
}

#head h1 {
	margin: 0;
	padding: 0;
}

#tabs {
	display: none;
}

#subtabs {
	display: none;
}

#ads {
	display: none;
}

#content {
	margin: 0;
	padding: 5px;
}

#poweredby {
	display: none;
}

/* Heading list */
.headinglist dt {
	font-weight: bold;
}

.headinglist dd {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}

p.important {
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid black;
	font-weight: bold;
}

p.note {
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid black;
}

pre.code {
	margin-left: 0;
	margin-right: 0;
	padding: 5px;
	border: 1px solid #CCCCCC;
	border-left: 10px solid #CCCCCC;
}

img.thumbnail {
	padding-top: 2px;
	padding-bottom: 3px;
}

acronym {
	cursor: help;
	border-bottom: 1px dotted black;
}

.noprint {
	display: none;
}

/* Inline list */
ul.inline {
	margin: 1em;
	padding: 0;
}

ul.inline li {
	margin: 0;
	margin-right: 1em;
	padding: 0;
	display: inline;
	list-style: none;
}

/* PAD file */
.padfile dt {
	margin: 0 0 0 2em;
	padding: 0;
	font-weight: bold;
}

.padfile dd {
	margin: 0 0 1em 4em;
	padding: 0;
}

/* Translations Status */
.status {
	border-collapse: collapse;
	border: 1px solid black;
}

.status th {
	padding: 3px;
	background: white;
	border: 1px solid black;
}

.status td {
	padding: 3px;
	background: white;
	border: 1px solid black;
}

.translated { color: black; }
.fuzzy { color: black; }
.untranslated { color: black; }

/* GUI elements */
.guimenu,.guisubmenu,.guimenuitem,.guilabel {
  font-style: italic;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }