body {
	margin: 0;
	padding: 0;
	color: black;
	background: white;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: small;
}

code,pre {
	font-family: "Courier New",Courier,monospace;
	font-size: 1em;
}

#head {
	margin: 0;
	padding: 5px 5px 0 15px;
	background: #FFCC00;
}

#head h1 {
	margin: 0;
	padding: 0;
}

/* Based on "Updated Simple CSS Tabs" from silverorange labs:
   http://labs.silverorange.com/archives/2004/may/updatedsimple */
#tabs {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabs ul {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabs ul li {
	display: inline;
	list-style: none;
}

#tabs ul li a,#tabs ul li a.selected {
	width: 7em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 8px 0 0;
	text-align: center;
	text-decoration: none;
	color: black;
}

#tabs ul li.selected a,#tabs ul li.selected a:hover {
	margin-top: 0;
	padding-bottom: 6px;
	background: white;
	border: 1px solid black;
	border-bottom: none;
}

#tabs ul li a {
	background: #FFFFCC;
	border: 1px solid #808080;
	border-bottom: none;
}

#tabs ul li a:hover {
	margin-top: 0;
	padding-bottom: 5px;
	background: white;
	border-color: black;
}

#main {
	clear: both;
	border-top: 1px solid black;
	background: white;
}

#ads {
	margin: 0;
	padding: 10px 5px 10px 5px;
	text-align: center;
}

#nav {
	float: left;
	margin: 0;
	margin-left: 5px;
	padding: 5px;
	width: 12em;
	background: #C0C0C0;
	border: 1px solid #808080;
}

#nav h2 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: medium;
}

#nav ul {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0.5em;
	padding-left: 0.5em;
}

#content {
	margin: 0;
	margin-left: 14em;
	padding: 5px;
}

#content h2, p {
	margin-top: 0;
}

p.important {
	padding: 5px;
	background-color: #FFDDDD;
	border: 1px solid red;
	font-weight: bold;
}

p.note {
	padding: 5px;
	background-color: #DDDDFF;
	border: 1px solid blue;
}

pre.code {
	margin-left: 25px;
	margin-right: 25px;
	padding: 5px;
	background-color: #EEEEEE;
	border: 1px solid black;
}

img.thumbnail {
	padding-top: 2px;
	padding-bottom: 3px;
}

acronym {
	cursor: help;
	border-bottom: 1px dotted black;
}

/* Status of translations */
#status {
	margin-bottom: 10px;
	border-collapse: collapse;
}

#status th {
	padding: 3px;
	border: 1px solid black;
}

#status td {
	padding: 3px;
	border: 1px solid black;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.actively { background-color: #CCFFCC; }
.maintained { background-color: #CCCCFF; }
.unmaintained { background-color: #FFCCCC; }
.unknown { background-color: #FFFFCC; }