body {
	font-family: sans-serif;
	color: black;
	background-color: white;
}

#nav {
	display: none;
}

#content {
	padding-left: 0;
	vertical-align: top;
}

h1, h2, h3, h4 {
	font-family: serif;
	font-weight: bold;
}

p.important {
	font-weight: bold;
}

li.toc {
	list-style-image: url();
	line-height: 125%;
}

.noprint {
	display: none;
}