body {
	margin: 0;
	padding: 0;
	min-width: 40em;
	color: black;
	background: white;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: small;
}

code,pre {
	font-family: "Courier New",Courier,monospace;
	font-size: 1em;
}

#head {
	margin: 0;
	padding: 5px;
	padding-left: 1em;
	background: #FFCC00;
}

#head h1 {
	float: left;
	margin: 0;
	padding: 0;
}

#rightcorner {
	text-align: right;
}

/* Based on "Eric Meyer's tabbed navbar" from Eric Meyer:
   http://css.maxdesign.com.au/listamatic/horizontal05.htm */
#tabs {
	margin: 0;
	padding: 3px 1em;
	background: #FFCC00;
	border-bottom: 1px solid black;
}

#tabs li {
	margin: 0;
	display: inline;
	list-style: none;
}

#tabs li a {
	margin-left: 3px;
	padding: 3px 0.5em;
	text-decoration: none;
	background: #FFFFCC;
	border: 1px solid #808080;
	border-bottom: none;
}

#tabs li a:link { color: black; }
#tabs li a:visited { color: black; }

#tabs li a:hover {
	color: black;
	background: white;
	border-color: black;
}

#tabs li a#current {
	background: white;
	border: 1px solid black;
	border-bottom: 1px solid white;
}

#subtabs {
	margin: 0;
	padding: 5px;
	background: white;
}

#subtabs li {
	margin: 0;
	padding: 0 .5em 0 .5em;
	display: inline;
	list-style: none;
	border: none;
	border-right: 1px dotted #AAAAAA;
}

#subtabs li:last-child { border: none; }

#ads {
	margin: 0;
	padding: 10px 5px 10px 5px;
	text-align: center;
}

#content {
	margin: 0;
	padding: 1em;
}

#content h2, p {
	margin-top: 0;
}

p.important {
	padding: 5px;
	background-color: #FFDDDD;
	border: 1px solid red;
	font-weight: bold;
}

p.note {
	padding: 5px;
	background-color: #DDDDFF;
	border: 1px solid blue;
}

pre.code {
	margin-left: 25px;
	margin-right: 25px;
	padding: 5px;
	background-color: #EEEEEE;
	border: 1px solid black;
}

img.thumbnail {
	padding-top: 2px;
	padding-bottom: 3px;
}

acronym {
	cursor: help;
	border-bottom: 1px dotted black;
}

/* Status of translations */
#status {
	margin-bottom: 10px;
	border-collapse: collapse;
}

#status th {
	padding: 3px;
	border: 1px solid black;
}

#status td {
	padding: 3px;
	border: 1px solid black;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.actively { background-color: #CCFFCC; }
.maintained { background-color: #CCCCFF; }
.unmaintained { background-color: #FFCCCC; }
.unknown { background-color: #FFFFCC; }