.mediaobject {
  margin-top: 10px;
}

.screen {
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px;
  background-color: #EEEEEE;
  border: 1px solid black;
}

.caution {
  border: 1px solid olive;
}
.important {
  border: 1px solid olive;
}
.note {
  border: 1px solid black;
}
.tip {
  border: 1px solid black;
}
.warning {
  border: 1px solid red;
}