body {
  margin: 0;
  padding: 0;
  min-width: 40em;
}

body,th,td {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 80%;
}

pre,code,tt {
  font-family: "Courier New",Courier,monospace;
  font-size: 100%;
}

ul {
  list-style-type: square;
}

/* Default link style */
a:link { color:#3366CC; text-decoration:underline; }
a:visited { color:#003399; text-decoration:underline; }
a:focus { color:#3366CC; text-decoration:none; }
a:hover { color:#3366CC; text-decoration:none; }
a:active { color:#003399; text-decoration:none; }

a[name]:hover { color:black; text-decoration:none; }

div.navheader,
div.navfooter {
  background: #FFCC00;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div.navheader>table>tbody>tr>th {
  display:none;
}

div.article,
div.section,
div.appendix,
div.index {
  padding: 5px;
}

/* topic title */
div.article>div>div>div>h2 {
  font-size: 160%;
  text-align: center;
  color: #3333cc;
}

div.section h2 {
  font-size: 140%;
}

div.section h3 {
  font-size: 120%;
}

#ads {
  padding-top: 10px;
  text-align: center;
}

.mediaobject {
  margin-top: 10px;
}

.screen {
  padding: 5px;
  background-color: #EEEEEE;
  border-left: 10px solid #CCCCCC;
}

.caution {
  background-color: #FFDDAA;
  border: 1px solid olive;
}
.important {
  background-color: #FFFFDD;
  border: 1px solid olive;
}
.note {
  background-color: #DDDDFF;
  border: 1px solid blue;
}
.tip {
  background-color: #DDFFDD;
  border: 1px solid green;
}
.warning {
  background-color: #FFDDDD;
  border: 1px solid red;
}

/* Examples */
.example,.informalexample {
  padding-left: 7px;
  border-left: 3px solid black;
}

/* Command synopsis */
.cmdsynopsis p {
  padding: 5px;
  color: gray;
  background-color: #EEEEEE;
  border-left: 10px solid #CCCCCC;
}

.command,.option,.replaceable {
  color: black;
}

/* GUI elements */
.guimenu,.guisubmenu,.guimenuitem,.guilabel {
  font-style: italic;
}

/* FAQ */
.question {
  font-weight: bold;
}

/* tables */
.table table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table th {
  padding: 2px;
  text-align: left;
  color: white;
  background: black;
  border: 1px solid black;
}

.table td {
  padding: 2px;
  border: 1px solid black;
}

/* variablelist */
.variablelist dl {
  margin-left: 2em;
}
.variablelist dt {
  font-weight: bold;
}
.variablelist dd {
  margin-left: 2em;
}
.variablelist dd p {
  margin-top: 0.5em;
}

/* authorgroup */
.authorgroup {
  margin-left: 2em;
}
.author h3 {
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
  font-size: 100%;
}

/* table of contents */
.toc dt {
  margin-top: 1em;
}
.toc dd dl dt {
  margin-top: 0;
}

/*.toc .sect1,*/
.toc .article,
.toc .appendix,
.toc .index {
  font-size: 120%;
  font-weight: bold;
}
