body,th,td {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 80%;
}

pre,code,tt {
  font-family: "Courier New",Courier,monospace;
  font-size: 100%;
}

.mediaobject {
  margin-top: 10px;
}

.screen {
  padding: 5px;
  background-color: #EEEEEE;
  border-left: 10px solid #CCCCCC;
}

.caution {
  background-color: #FFDDAA;
  border: 1px solid olive;
}
.important {
  background-color: #FFFFDD;
  border: 1px solid olive;
}
.note {
  background-color: #DDDDFF;
  border: 1px solid blue;
}
.tip {
  background-color: #DDFFDD;
  border: 1px solid green;
}
.warning {
  background-color: #FFDDDD;
  border: 1px solid red;
}

/* Command synopsis */
.cmdsynopsis p {
  padding: 5px;
  color: gray;
  background-color: #EEEEEE;
  border-left: 10px solid #CCCCCC;
}

.command,.option,.replaceable {
  color: black;
}

/* GUI elements */
.guimenu,.guisubmenu,.guimenuitem,.guilabel {
  font-style: italic;
}

/* FAQ */
.question {
  font-weight: bold;
}

/* tables */
.table table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table th {
  padding: 2px;
  text-align: left;
  color: white;
  background: black;
  border: 1px solid black;
}

.table td {
  padding: 2px;
  border: 1px solid black;
}