//WinMerge resource script (for English only).

#include "resource.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDR_MAINFRAME           ICON                    "res\\Merge.ico"
IDR_MERGEPROJECT        ICON                    "res\\MergeProject.ico"
IDR_MERGEDOCTYPE        ICON                    "res\\MergeDoc.ico"
IDR_DIRDOCTYPE          ICON                    "res\\MergeDir.ico"
IDI_ROTATE2             ICON                    "res\\rotate2.ico"
IDI_FOLDER              ICON                    "res\\folder.ico"
IDI_FILE                ICON                    "res\\fileunknown.ico"
IDI_LFOLDER             ICON                    "res\\lfolder.ico"
IDI_MFOLDER             ICON                    "res\\mfolder.ico"
IDI_RFOLDER             ICON                    "res\\rfolder.ico"
IDI_MRFOLDER            ICON                    "res\\lmissingfolder.ico"
IDI_LRFOLDER            ICON                    "res\\mmissingfolder.ico"
IDI_LMFOLDER            ICON                    "res\\rmissingfolder.ico"
IDI_FOLDERSKIP          ICON                    "res\\folderskip.ico"
IDI_EQUALFOLDER         ICON                    "res\\equalfolder.ico"
IDI_NOTEQUALFOLDER      ICON                    "res\\notequalfolder.ico"
IDI_EQUALFILE           ICON                    "res\\equalfile.ico"
IDI_NOTEQUALFILE        ICON                    "res\\notequalfile.ico"
IDI_EQUALBINARY         ICON                    "res\\equalbinary.ico"
IDI_LFILE               ICON                    "res\\lfile.ico"
IDI_MFILE               ICON                    "res\\mfile.ico"
IDI_RFILE               ICON                    "res\\rfile.ico"
IDI_MRFILE              ICON                    "res\\lmissing.ico"
IDI_LRFILE              ICON                    "res\\mmissing.ico"
IDI_LMFILE              ICON                    "res\\rmissing.ico"
IDI_BINARYDIFF          ICON                    "res\\binarydiff.ico"
IDI_FILESKIP            ICON                    "res\\fileskip.ico"
IDI_COMPARE_ERROR       ICON                    "res\\error.ico"
IDI_FOLDERUP            ICON                    "res\\folderup.ico"
IDI_FOLDERUP_DISABLE    ICON                    "res\\folderup_disable.ico"
IDI_COMPARE_ABORTED     ICON                    "res\\aborted.ico"
IDI_FILEFILTER          ICON                    "res\\FileFilter.ico"
IDI_LINEFILTER          ICON                    "res\\LineFilter.ico"
IDI_SUBSTITUTIONFILTER  ICON                    "res\\SubstitutionFilter.ico"
IDI_EQUALTEXTFILE       ICON                    "res\\equaltextfile.ico"
IDI_NOTEQUALTEXTFILE    ICON                    "res\\notequaltextfile.ico"
IDI_EQUALIMAGE          ICON                    "res\\equalimage.ico"
IDI_NOTEQUALIMAGE       ICON                    "res\\notequalimage.ico"
IDI_EQUALWEBPAGE        ICON                    "res\\equalwebpage.ico"
IDI_NOTEQUALWEBPAGE     ICON                    "res\\notequalwebpage.ico"
IDI_TREE_STATE_COLLAPSED ICON                   "res\\treestate_collapsed.ico"
IDI_TREE_STATE_EXPANDED ICON                    "res\\treestate_expanded.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Toolbar
//

IDR_MAINFRAME TOOLBAR  16, 15
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
    SEPARATOR
    BUTTON      ID_EDIT_UNDO
    BUTTON      ID_EDIT_REDO
    SEPARATOR
    BUTTON      ID_SELECTLINEDIFF
    SEPARATOR
    BUTTON      ID_NEXTDIFF
    BUTTON      ID_PREVDIFF
    SEPARATOR
    BUTTON      ID_NEXTCONFLICT
    BUTTON      ID_PREVCONFLICT
    SEPARATOR
    BUTTON      ID_FIRSTDIFF
    BUTTON      ID_CURDIFF
    BUTTON      ID_LASTDIFF
    SEPARATOR
    BUTTON      ID_L2R
    BUTTON      ID_R2L
    SEPARATOR
    BUTTON      ID_L2RNEXT
    BUTTON      ID_R2LNEXT
    SEPARATOR
    BUTTON      ID_ALL_RIGHT
    BUTTON      ID_ALL_LEFT
    SEPARATOR
    BUTTON      ID_AUTO_MERGE
    SEPARATOR
    BUTTON      ID_FIRSTFILE
    BUTTON      ID_PREVFILE
    BUTTON      ID_NEXTFILE
    BUTTON      ID_LASTFILE
    SEPARATOR
    BUTTON      ID_OPTIONS
    SEPARATOR
    BUTTON      ID_REFRESH
    SEPARATOR
END


/////////////////////////////////////////////////////////////////////////////
//
// Image
//

IDR_SPLASH              IMAGE                   "res\\splash.jpg"
IDR_LOGO                IMAGE                   "res\\logo.jpg"
IDR_MARGIN_ICONS_PNG    IMAGE                   "res\\mg_icons.png"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TOOLBAR_ENABLED8BIT BITMAP                  "res\\ToolbarEnabled8bit.bmp"
IDB_TOOLBAR_ENABLED     BITMAP                  "res\\ToolbarEnabled.bmp"
IDB_TOOLBAR_ENABLED32   BITMAP                  "res\\ToolbarEnabled32.bmp"
IDB_EDIT_COPY           BITMAP                  "res\\copy.bmp"
IDB_EDIT_CUT            BITMAP                  "res\\cut.bmp"
IDB_EDIT_PASTE          BITMAP                  "res\\paste.bmp"
IDB_EDIT_SEARCH         BITMAP                  "res\\search.bmp"
IDB_WINDOW_CASCADE      BITMAP                  "res\\cascade.bmp"
IDB_WINDOW_HORIZONTAL   BITMAP                  "res\\horizontally.bmp"
IDB_WINDOW_VERTICAL     BITMAP                  "res\\vertically.bmp"
IDB_WINDOW_CLOSE        BITMAP                  "res\\close.bmp"
IDB_WINDOW_CHANGEPANE   BITMAP                  "res\\change_pane.bmp"
IDB_EDIT_GOTO           BITMAP                  "res\\go_to.bmp"
IDB_EDIT_REPLACE        BITMAP                  "res\\replace.bmp"
IDB_VIEW_SELECTFONT     BITMAP                  "res\\select_font.bmp"
IDB_FILE_EXIT           BITMAP                  "res\\exit.bmp"
IDB_HELP_CONTENTS       BITMAP                  "res\\help_contents.bmp"
IDB_EDIT_SELECTALL      BITMAP                  "res\\select_all.bmp"
IDB_TOOLS_FILTERS       BITMAP                  "res\\filters.bmp"
IDB_TOOLS_COLUMNS       BITMAP                  "res\\customize_columns.bmp"
IDB_MERGE_DELETE        BITMAP                  "res\\delete.bmp"
IDB_FILE_PRINT          BITMAP                  "res\\print.bmp"
IDB_TOOLS_GENERATEPATCH BITMAP                  "res\\patch.bmp"
IDB_TOOLS_GENERATEREPORT BITMAP                 "res\\report.bmp"
IDR_MARGIN_ICONS        BITMAP                  "res\\mg_icons.bmp"
IDB_EDIT_TOGGLE_BOOKMARK BITMAP                 "res\\toggle_bookmark.bmp"
IDB_EDIT_GOTO_NEXT_BOOKMARK BITMAP              "res\\next_bookmark.bmp"
IDB_EDIT_GOTO_PREV_BOOKMARK BITMAP              "res\\prev_bookmark.bmp"
IDB_EDIT_CLEAR_ALL_BOOKMARKS BITMAP             "res\\clear_bookmarks.bmp"
IDB_LEFT                BITMAP                  "res\\left.bmp"
IDB_MIDDLE              BITMAP                  "res\\middle.bmp"
IDB_RIGHT               BITMAP                  "res\\right.bmp"
IDB_BOTH                BITMAP                  "res\\both.bmp"
IDB_ALL                 BITMAP                  "res\\all.bmp"
IDB_COPY_LEFT_TO_RIGHT  BITMAP                  "res\\copy_left_to_right.bmp"
IDB_COPY_LEFT_TO_MIDDLE BITMAP                  "res\\copy_left_to_middle.bmp"
IDB_COPY_RIGHT_TO_LEFT  BITMAP                  "res\\copy_right_to_left.bmp"
IDB_COPY_RIGHT_TO_MIDDLE BITMAP                 "res\\copy_right_to_middle.bmp"
IDB_COPY_MIDDLE_TO_LEFT BITMAP                  "res\\copy_middle_to_left.bmp"
IDB_COPY_MIDDLE_TO_RIGHT BITMAP                 "res\\copy_middle_to_right.bmp"
IDB_MOVE_LEFT_TO_RIGHT  BITMAP                  "res\\move_left_to_right.bmp"
IDB_MOVE_LEFT_TO_MIDDLE BITMAP                  "res\\move_left_to_middle.bmp"
IDB_MOVE_RIGHT_TO_LEFT  BITMAP                  "res\\move_right_to_left.bmp"
IDB_MOVE_RIGHT_TO_MIDDLE BITMAP                 "res\\move_right_to_middle.bmp"
IDB_MOVE_MIDDLE_TO_LEFT BITMAP                  "res\\move_middle_to_left.bmp"
IDB_MOVE_MIDDLE_TO_RIGHT BITMAP                 "res\\move_middle_to_right.bmp"
IDB_COPY_FROM_LEFT      BITMAP                  "res\\from_left.bmp"
IDB_COPY_FROM_RIGHT     BITMAP                  "res\\from_right.bmp"
IDB_COPY_SELECTED_LINES_FROM_LEFT BITMAP        "res\\selected_lines_from_left.bmp"
IDB_COPY_SELECTED_LINES_FROM_RIGHT BITMAP       "res\\selected_lines_from_right.bmp"
IDB_COPY_SELECTED_LINES_LEFT_TO_RIGHT BITMAP    "res\\selected_lines_left_to_right.bmp"
IDB_COPY_SELECTED_LINES_LEFT_TO_MIDDLE BITMAP   "res\\selected_lines_left_to_middle.bmp"
IDB_COPY_SELECTED_LINES_MIDDLE_TO_LEFT BITMAP   "res\\selected_lines_middle_to_left.bmp"
IDB_COPY_SELECTED_LINES_MIDDLE_TO_RIGHT BITMAP  "res\\selected_lines_middle_to_right.bmp"
IDB_COPY_SELECTED_LINES_RIGHT_TO_MIDDLE BITMAP  "res\\selected_lines_right_to_middle.bmp"
IDB_COPY_SELECTED_LINES_RIGHT_TO_LEFT BITMAP    "res\\selected_lines_right_to_left.bmp"
IDB_COPY_LEFT_TO_BROWSE BITMAP                  "res\\copy_left_to_browse.bmp"
IDB_COPY_MIDDLE_TO_BROWSE BITMAP                "res\\copy_middle_to_browse.bmp"
IDB_COPY_RIGHT_TO_BROWSE BITMAP                 "res\\copy_right_to_browse.bmp"
IDB_MOVE_LEFT_TO_BROWSE BITMAP                  "res\\move_left_to_browse.bmp"
IDB_MOVE_MIDDLE_TO_BROWSE BITMAP                "res\\move_middle_to_browse.bmp"
IDB_MOVE_RIGHT_TO_BROWSE BITMAP                 "res\\move_right_to_browse.bmp"
IDB_VIEW_ZOOMIN         BITMAP                  "res\\zoom_in.bmp"
IDB_VIEW_ZOOMOUT        BITMAP                  "res\\zoom_out.bmp"
IDB_FILE_OPENCONFLICT   BITMAP                  "res\\open_conflict.bmp"
IDB_PLUGINS_LIST        BITMAP                  "res\\plugins.bmp"
IDB_MERGE_COMPARE       BITMAP                  "res\\compare.bmp"
IDB_MERGE_COMPARE_LEFT1_LEFT2 BITMAP            "res\\compare_left1_left2.bmp"
IDB_MERGE_COMPARE_RIGHT1_RIGHT2 BITMAP          "res\\compare_right1_right2.bmp"
IDB_MERGE_COMPARE_LEFT1_RIGHT2 BITMAP           "res\\compare_left1_right2.bmp"
IDB_MERGE_COMPARE_LEFT2_RIGHT1 BITMAP           "res\\compare_left2_right1.bmp"
IDB_FILE_NEW_TABLE      BITMAP                  "res\\new_table.bmp"
IDB_FILE_NEW_HEX        BITMAP                  "res\\new_hex.bmp"
IDB_FILE_NEW_IMAGE      BITMAP                  "res\\new_image.bmp"
IDB_FILE_NEW_WEBPAGE    BITMAP                  "res\\new_webpage.bmp"
IDB_FILE_NEW3           BITMAP                  "res\\new3.bmp"
IDB_FILE_NEW3_TABLE     BITMAP                  "res\\new3_table.bmp"
IDB_FILE_NEW3_HEX       BITMAP                  "res\\new3_hex.bmp"
IDB_FILE_NEW3_IMAGE     BITMAP                  "res\\new3_image.bmp"
IDB_FILE_NEW3_WEBPAGE   BITMAP                  "res\\new3_webpage.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDR_MARGIN_CURSOR       CURSOR                  "res\\mg_cur.cur"

/////////////////////////////////////////////////////////////////////////////
//
// TypeLib
//
1 TYPELIB "Merge.tlb"

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "../Version.h"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "https://winmerge.org\0"
            VALUE "FileDescription", "WinMerge\0"
            VALUE "FileVersion", STRFILEVER
            VALUE "InternalName", "WinMerge\0"
            VALUE "LegalCopyright", "(c) 1996-2025 Dean P. Grimm / Thingamahoochie Software\0"
            VALUE "OriginalFilename", "WinMergeU.EXE\0"
            VALUE "PrivateBuild", STRPRIVATEBUILD
            VALUE "ProductName", "WinMerge\0"
            VALUE "ProductVersion", STRPRODUCTVER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#endif    // !_MAC

