/* CLanguageSelect resources */
#include "afxwin.h"

#define IDD_LANGUAGE_SELECT             30000
#define IDS_AFRIKAANS                   30003
#define IDS_ALBANIAN                    30004
#define IDS_ARABIC_SAUDI                30005
#define IDS_ARABIC_IRAQ                 30006
#define IDS_ARABIC_EGYPT                30007
#define IDS_ARABIC_LIBYA                30008
#define IDS_ARABIC_ALGERIA              30009
#define IDS_ARABIC_MOROCCO              30010
#define IDS_ARABIC_TUNISIA              30011
#define IDS_ARABIC_OMAN                 30012
#define IDS_ARABIC_YEMEN                30013
#define IDS_ARABIC_SYRIA                30014
#define IDS_ARABIC_JORDAN               30015
#define IDS_ARABIC_LEBANON              30016
#define IDS_ARABIC_KUWAIT               30017
#define IDS_ARABIC_UAE                  30018
#define IDS_ARABIC_BAHRAIN              30019
#define IDS_ARABIC_QATAR                30020
#define IDS_ARMENIAN                    30021
#define IDS_AZERI_LATIN                 30022
#define IDS_AZERI_CYRILLIC              30023
#define IDS_BASQUE                      30024
#define IDS_BELARUSIAN                  30025
#define IDS_BULGARIAN                   30026
#define IDS_CATALAN                     30027
#define IDS_CHINESE_TRADITIONAL         30028
#define IDS_CHINESE_SIMPLIFIED          30029
#define IDS_CHINESE_HONGKONG            30030
#define IDS_CHINESE_SINGAPORE           30031
#define IDS_CHINESE_MACAU               30032
#define IDS_CROATIAN                    30033
#define IDS_CZECH                       30034
#define IDS_DANISH                      30035
#define IDS_DUTCH                       30036
#define IDS_DUTCH_BELGIAN               30037
#define IDS_ENGLISH_US                  30038
#define IDS_ENGLISH_UK                  30039
#define IDS_ENGLISH_AUS                 30040
#define IDS_ENGLISH_CAN                 30041
#define IDS_ENGLISH_NZ                  30042
#define IDS_ENGLISH_EIRE                30043
#define IDS_ENGLISH_SOUTH_AFRICA        30044
#define IDS_ENGLISH_JAMAICA             30045
#define IDS_ENGLISH_CARIBBEAN           30046
#define IDS_ENGLISH_BELIZE              30047
#define IDS_ENGLISH_TRINIDAD            30048
#define IDS_ENGLISH_ZIMBABWE            30049
#define IDS_ENGLISH_PHILIPPINES         30050
#define IDS_ESTONIAN                    30051
#define IDS_FAEROESE                    30052
#define IDS_FARSI                       30053
#define IDS_FINNISH                     30054
#define IDS_FRENCH                      30055
#define IDS_FRENCH_BELGIAN              30056
#define IDS_FRENCH_CANADIAN             30057
#define IDS_FRENCH_SWISS                30058
#define IDS_FRENCH_LUXEMBOURG           30059
#define IDS_FRENCH_MONACO               30060
#define IDS_GEORGIAN                    30061
#define IDS_GERMAN                      30062
#define IDS_GERMAN_SWISS                30063
#define IDS_GERMAN_AUSTRIAN             30064
#define IDS_GERMAN_LUXEMBOURG           30065
#define IDS_GERMAN_LIECHTENSTEIN        30066
#define IDS_GREEK                       30067
#define IDS_HEBREW                      30068
#define IDS_HINDI                       30069
#define IDS_HUNGARIAN                   30070
#define IDS_ICELANDIC                   30071
#define IDS_INDONESIAN                  30072
#define IDS_ITALIAN                     30073
#define IDS_ITALIAN_SWISS               30074
#define IDS_JAPANESE                    30075
#define IDS_KASHMIRI                    30076
#define IDS_KAZAK                       30077
#define IDS_KOREAN                      30078
#define IDS_KOREAN_JOHAB                30079
#define IDS_LATVIAN                     30080
#define IDS_LITHUANIAN                  30081
#define IDS_MALAY_MALAYSIA              30082
#define IDS_MALAY_BRUNEI_DARUSSALAM     30083
#define IDS_MANIPURI                    30084
#define IDS_NORWEGIAN_BOKMAL            30085
#define IDS_NORWEGIAN_NYNORSK           30086
#define IDS_POLISH                      30087
#define IDS_PORTUGUESE                  30088
#define IDS_PORTUGUESE_BRAZILIAN        30089
#define IDS_ROMANIAN                    30090
#define IDS_RUSSIAN                     30091
#define IDS_SANSKRIT                    30092
#define IDS_SERBIAN_LATIN               30093
#define IDS_SERBIAN_CYRILLIC            30094
#define IDS_SINDHI                      30095
#define IDS_SLOVAK                      30096
#define IDS_SLOVENIAN                   30097
#define IDS_SPANISH                     30098
#define IDS_SPANISH_MEXICAN             30099
#define IDS_SPANISH_MODERN              30100
#define IDS_SPANISH_GUATEMALA           30101
#define IDS_SPANISH_COSTA_RICA          30102
#define IDS_SPANISH_PANAMA              30103
#define IDS_SPANISH_DOMINICAN           30104
#define IDS_SPANISH_VENEZUELA           30105
#define IDS_SPANISH_COLOMBIA            30106
#define IDS_SPANISH_PERU                30107
#define IDS_SPANISH_ARGENTINA           30108
#define IDS_SPANISH_ECUADOR             30109
#define IDS_SPANISH_CHILE               30110
#define IDS_SPANISH_URUGUAY             30111
#define IDS_SPANISH_PARAGUAY            30112
#define IDS_SPANISH_BOLIVIA             30113
#define IDS_SPANISH_EL_SALVADOR         30114
#define IDS_SPANISH_HONDURAS            30115
#define IDS_SPANISH_NICARAGUA           30116
#define IDS_SPANISH_PUERTO_RICO         30117
#define IDS_SWAHILI                     30118
#define IDS_SWEDISH                     30119
#define IDS_SWEDISH_FINLAND             30120
#define IDS_TAMIL                       30121
#define IDS_TATAR                       30122
#define IDS_THAI                        30123
#define IDS_TURKISH                     30124
#define IDS_UKRANIAN                    30125
#define IDS_URDU_PAKISTAN               30126
#define IDS_URDU_INDIA                  30127
#define IDS_UZBEK_LATIN                 30128
#define IDS_UZBEK_CYRILLIC              30129
#define IDS_VIETNAMESE                  30130


IDD_LANGUAGE_SELECT DIALOG DISCARDABLE  0, 0, 213, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Language"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK",IDOK,154,16,52,14
    PUSHBUTTON      "Cancel",IDCANCEL,154,33,52,14
    LISTBOX         30001,5,16,141,89,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Available languages:",IDC_STATIC,7,7,66,8
END




STRINGTABLE DISCARDABLE 
BEGIN
    IDS_AFRIKAANS           "Afrikaans"
    IDS_ALBANIAN            "Albanian"
    IDS_ARABIC_SAUDI        "Arabic (Saudi Arabian)"
    IDS_ARABIC_IRAQ         "Arabic (Iraq)"
    IDS_ARABIC_EGYPT        "Arabic (Egyptian)"
    IDS_ARABIC_LIBYA        "Arabic (Libyan)"
    IDS_ARABIC_ALGERIA      "Arabic (Algerian)"
    IDS_ARABIC_MOROCCO      "Arabic (Moroccan)"
    IDS_ARABIC_TUNISIA      "Arabic (Tunisian)"
    IDS_ARABIC_OMAN         "Arabic (Oman)"
    IDS_ARABIC_YEMEN        "Arabic (Yemen)"
    IDS_ARABIC_SYRIA        "Arabic (Syrian)"
    IDS_ARABIC_JORDAN       "Arabic (Jordan)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ARABIC_LEBANON      "Arabic (Lebanon)"
    IDS_ARABIC_KUWAIT       "Arabic (Kuwait)"
    IDS_ARABIC_UAE          "Arabic (UAE)"
    IDS_ARABIC_BAHRAIN      "Arabic (Bahrain)"
    IDS_ARABIC_QATAR        "Arabic (Qatar)"
    IDS_ARMENIAN            "Armenian"
    IDS_AZERI_LATIN         "Azeri (Latin)"
    IDS_AZERI_CYRILLIC      "Azeri (Cyrillic)"
    IDS_BASQUE              "Basque"
    IDS_BELARUSIAN          "Belarusian"
    IDS_BULGARIAN           "Bulgarian"
    IDS_CATALAN             "Catalan"
    IDS_CHINESE_TRADITIONAL "Chinese (Traditional)"
    IDS_CHINESE_SIMPLIFIED  "Chinese (Simplified)"
    IDS_CHINESE_HONGKONG    "Chinese (Hong Kong)"
    IDS_CHINESE_SINGAPORE   "Chinese (Singapore)"
    IDS_CHINESE_MACAU       "Chinese (Macau SAR)"
    IDS_CROATIAN            "Croatian"
    IDS_CZECH               "Czech"
    IDS_DANISH              "Danish"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_DUTCH               "Dutch"
    IDS_DUTCH_BELGIAN       "Dutch (Belgium)"
    IDS_ENGLISH_US          "English (US)"
    IDS_ENGLISH_UK          "English (UK)"
    IDS_ENGLISH_AUS         "English (Australian)"
    IDS_ENGLISH_CAN         "English (Canadian)"
    IDS_ENGLISH_NZ          "English (New Zealand)"
    IDS_ENGLISH_EIRE        "English (Irish)"
    IDS_ENGLISH_SOUTH_AFRICA "English (So. African)"
    IDS_ENGLISH_JAMAICA     "English (Jamaican)"
    IDS_ENGLISH_CARIBBEAN   "English (Caribbean)"
    IDS_ENGLISH_BELIZE      "English (Belize)"
    IDS_ENGLISH_TRINIDAD    "English (Trinidad)"
    IDS_ENGLISH_ZIMBABWE    "English (Zimbabwe)"
    IDS_ENGLISH_PHILIPPINES "English (Philippines)"
    IDS_ESTONIAN            "Estonian"
    IDS_FAEROESE            "Faeroese"
    IDS_FARSI               "Farsi"
    IDS_FINNISH             "Finnish"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_FRENCH              "French"
    IDS_FRENCH_BELGIAN      "French (Belgian)"
    IDS_FRENCH_CANADIAN     "French (Canadian)"
    IDS_FRENCH_SWISS        "French (Swiss)"
    IDS_FRENCH_LUXEMBOURG   "French (Lux)"
    IDS_FRENCH_MONACO       "French (Monaco)"
    IDS_GEORGIAN            "Georgian"
    IDS_GERMAN              "German"
    IDS_GERMAN_SWISS        "German (Swiss)"
    IDS_GERMAN_AUSTRIAN     "German (Austrian)"
    IDS_GERMAN_LUXEMBOURG   "German (Lux)"
    IDS_GERMAN_LIECHTENSTEIN "German (Liecht)"
    IDS_GREEK               "Greek"
    IDS_HEBREW              "Hebrew"
    IDS_HINDI               "Hindi"
    IDS_HUNGARIAN           "Hungarian"
    IDS_ICELANDIC           "Icelandic"
    IDS_INDONESIAN          "Indonesian"
    IDS_ITALIAN             "Italian"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_ITALIAN_SWISS       "Italian (Swiss)"
    IDS_JAPANESE            "Japanese"
    IDS_KASHMIRI            "Kashmiri (India)"
    IDS_KAZAK               "Kazakh"
    IDS_KOREAN              "Korean"
    IDS_KOREAN_JOHAB        "Korean (Johab)"
    IDS_LATVIAN             "Latvian"
    IDS_LITHUANIAN          "Lithuanian"
    IDS_MALAY_MALAYSIA      "Malay (Malaysian)"
    IDS_MALAY_BRUNEI_DARUSSALAM "Malay (Brunei Darussalam)"
    IDS_MANIPURI            "Manipuri"
    IDS_NORWEGIAN_BOKMAL    "Norwegian (Bokmal)"
    IDS_NORWEGIAN_NYNORSK   "Norwegian (Nynorsk)"
    IDS_POLISH              "Polish"
    IDS_PORTUGUESE          "Portugese"
    IDS_PORTUGUESE_BRAZILIAN "Portugese (Brazil)"
    IDS_ROMANIAN            "Romanian"
    IDS_RUSSIAN             "Russian"
    IDS_SANSKRIT            "Sanskrit"
    IDS_SERBIAN_LATIN       "Serbian (Latin)"
    IDS_SERBIAN_CYRILLIC    "Serbian (Cyrillic)"
    IDS_SINDHI              "Sindhi"
    IDS_SLOVAK              "Slovak"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SLOVENIAN           "Slovenian"
    IDS_SPANISH             "Spanish"
    IDS_SPANISH_MEXICAN     "Spanish (Mexican)"
    IDS_SPANISH_MODERN      "Spanish (Modern)"
    IDS_SPANISH_GUATEMALA   "Spanish (Guatemala)"
    IDS_SPANISH_COSTA_RICA  "Spanish (Costa Rica)"
    IDS_SPANISH_PANAMA      "Spanish (Panama)"
    IDS_SPANISH_DOMINICAN   "Spanish (Dominican)"
    IDS_SPANISH_VENEZUELA   "Spanish (Venezuela)"
    IDS_SPANISH_COLOMBIA    "Spanish (Colombia)"
    IDS_SPANISH_PERU        "Spanish (Peru)"
    IDS_SPANISH_ARGENTINA   "Spanish (Argentina)"
    IDS_SPANISH_ECUADOR     "Spanish (Ecuador)"
    IDS_SPANISH_CHILE       "Spanish (Chile)"
    IDS_SPANISH_URUGUAY     "Spanish (Uruguay)"
    IDS_SPANISH_PARAGUAY    "Spanish (Paraguay)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SPANISH_BOLIVIA     "Spanish (Bolivia)"
    IDS_SPANISH_EL_SALVADOR "Spanish (El Salvador)"
    IDS_SPANISH_HONDURAS    "Spanish (Honduras)"
    IDS_SPANISH_NICARAGUA   "Spanish (Nicaragua)"
    IDS_SPANISH_PUERTO_RICO "Spanish (Puerto Rico)"
    IDS_SWAHILI             "Swahili (Kenya)"
    IDS_SWEDISH             "Swedish"
    IDS_SWEDISH_FINLAND     "Swedish (Finland)"
    IDS_TAMIL               "Tamil"
    IDS_TATAR               "Tatar (Tatarstan)"
    IDS_THAI                "Thai"
    IDS_TURKISH             "Turkish"
    IDS_UKRANIAN            "Ukranian"
    IDS_URDU_PAKISTAN       "Urdu (Pakistan)"
    IDS_URDU_INDIA          "Urdu (India)"
    IDS_UZBEK_LATIN         "Uzbek (Latin)"
    IDS_UZBEK_CYRILLIC      "Uzbek (Cyrillic)"
    IDS_VIETNAMESE          "Vietnamese"
END
