<FilesMatch "\.inc$">
 Order Deny,Allow
 Deny from all
</FilesMatch>

#Use PHP5 instead of PHP4
AddType x-mapp-php5 .php

Redirect permanent /developer/translate.php http://winmerge.org/Wiki/index.php?title=Translations
Redirect permanent /WinMerge17/index.html http://winmerge.org/1.7/index.php
Redirect permanent /WinMerge17/WinMergeChanges.html http://winmerge.org/1.7/changes.php
Redirect permanent /WinMerge17/docs http://winmerge.org/1.7/docs
Redirect permanent /docs http://winmerge.org/1.7/docs
Redirect permanent /WinMergeChanges.html http://winmerge.org/2.0/changes.php
Redirect permanent /docs20 http://winmerge.org/2.0/docs
Redirect permanent /images/screenshot.png http://winmerge.org/2.0/images/screenshot.png
Redirect permanent /images/winmerge.gif http://winmerge.org/2.0/images/icon.gif
Redirect permanent /images/winmerge22.gif http://winmerge.org/2.2/images/icon.gif
Redirect permanent /2.2/images/filecomp1.gif http://winmerge.org/2.2/images/screenshot.gif
Redirect permanent /downloads.php http://winmerge.org/downloads/index.php

#Move developer pages to Wiki...
Redirect permanent /developer/index.php http://winmerge.org/Wiki/index.php?title=Developers
Redirect permanent /developer/needed.php http://winmerge.org/Wiki/index.php?title=Help_Needed
Redirect permanent /developer/tracker-shortcuts.php http://winmerge.org/support/tracker-shortcuts.php
Redirect permanent /developer/l10n/index.php http://winmerge.org/Wiki/index.php?title=Translations
Redirect permanent /developer/l10n/instructions.php http://svn.sourceforge.net/viewvc/*checkout*/winmerge/trunk/Docs/Developers/Translations.html
Redirect permanent /developer/l10n/status.php http://winmerge.org/Wiki/index.php?title=Translations

#Tracker shortcuts...
RewriteEngine On
RewriteBase   /
RewriteRule   ^bug/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R]
RewriteRule   ^patch/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R]
RewriteRule   ^support/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R]
RewriteRule   ^rfe/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R]
RewriteRule   ^todo/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R]

#Nicer Wiki URLs...
RewriteEngine On
RewriteBase   /
RewriteCond   %{REQUEST_FILENAME} !-f
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteRule   ^Wiki/(.*)$ /Wiki/index.php?title=$1 [PT,L,QSA]