<IfModule mod_speling.c>
  CheckSpelling Off
</IfModule>

ErrorDocument 404 /404.php

<FilesMatch "\.inc$">
 Order Deny,Allow
 Deny from all
</FilesMatch>

#Use PHP5 instead of PHP4
AddType x-mapp-php5 .php

#Redirect PAD download URL to current WinMerge version...
Redirect permanent /downloads/WinMerge-Setup.exe http://downloads.sourceforge.net/winmerge/WinMerge-2.10.4-Setup.exe

#Redirect www.winmerge.org to winmerge.org...
RewriteEngine On
RewriteCond   %{HTTP_HOST} ^www\.winmerge\.org$ [NC]
RewriteRule   ^(.*)$ http://winmerge.org/$1 [R=permanent,L]

#Move PAD file page to "Downloads" tab...
Redirect permanent /WinMergePAD.php http://winmerge.org/downloads/pad-file.php

#Move history page to "About" tab...
Redirect permanent /history.php http://winmerge.org/about/history.php

#Centralize download pages...
Redirect permanent /downloads.php http://winmerge.org/downloads/
Redirect permanent /2.4/downloads.php http://winmerge.org/downloads/
Redirect permanent /2.2/downloads.php http://winmerge.org/downloads/

#Move developer pages to Wiki...
Redirect permanent /developer/index.php http://winmerge.org/Wiki/Developers
Redirect permanent /developer/needed.php http://winmerge.org/Wiki/Help_Needed
Redirect permanent /developer/tracker-shortcuts.php http://winmerge.org/support/tracker-shortcuts.php
Redirect permanent /developer/translate.php http://winmerge.org/Wiki/Translations
Redirect permanent /developer/l10n/index.php http://winmerge.org/Wiki/Translations
Redirect permanent /developer/l10n/instructions.php http://svn.sourceforge.net/viewvc/*checkout*/winmerge/trunk/Docs/Developers/Translations.html
Redirect permanent /developer/l10n/status.php http://winmerge.org/Wiki/Translations

#Move old user's guides and manuals to /docs/old/...
Redirect permanent /1.7/docs http://winmerge.org/docs/old/usersguide-1.7
Redirect permanent /WinMerge17/docs http://winmerge.org/docs/old/usersguide-1.7
Redirect permanent /2.0/docs http://winmerge.org/docs/old/usersguide-2.0
Redirect permanent /docs20 http://winmerge.org/docs/old/usersguide-2.0
Redirect permanent /2.2/manual http://winmerge.org/docs/old/manual-2.2
Redirect permanent /2.4/manual http://winmerge.org/docs/old/manual-2.4
Redirect permanent /2.6/manual http://winmerge.org/docs/old/manual-2.6
Redirect permanent /2.8/manual http://winmerge.org/docs/old/manual-2.8

#Move old "Changes" pages to new "Change Log" page...
RedirectMatch permanent /[0-9]\.[0-9]/changes.php http://winmerge.org/docs/changelog.php
RedirectMatch permanent /[0-9]\.[0-9]/changelog.php http://winmerge.org/docs/changelog.php

#Move old "Known Limitations" pages to new "Known Issues" page...
Redirect permanent /2.4/limitations.php http://winmerge.org/docs/releasenotes.php#issues
Redirect permanent /2.6/limitations.php http://winmerge.org/docs/releasenotes.php#issues

#Move old "Release Notes" pages to new "Release Notes" page...
Redirect permanent /2.8/releasenotes.php http://winmerge.org/docs/releasenotes.php

#Move old screenshot pages to new screenshot page...
RedirectMatch permanent /[0-9]\.[0-9]/screenshots.php http://winmerge.org/about/screenshots/

#Move old icon image to new icon image...
RedirectMatch permanent /[0-9]\.[0-9]/images/icon.gif http://winmerge.org/about/screenshots/icon.gif

#Move old screenshot image to new screenshot image...
Redirect permanent /2.0/images/screenshot.png http://winmerge.org/about/screenshots/screenshot.png
Redirect permanent /2.2/images/screenshot.gif http://winmerge.org/about/screenshots/screenshot.png
Redirect permanent /2.4/images/screenshot.gif http://winmerge.org/about/screenshots/screenshot.png

#Move old screenshot images to new screenshot images...
Redirect permanent /2.6/images/ http://winmerge.org/about/screenshots/
Redirect permanent /2.8/images/ http://winmerge.org/about/screenshots/

#Move old "X.Y" version tabs to homepage...
RewriteEngine On
RewriteBase   /
RewriteRule   ^[0-9]\.[0-9]/$ http://winmerge.org/ [R=permanent]
RewriteRule   ^[0-9]\.[0-9]/index.php$ http://winmerge.org/ [R=permanent]

#Tracker shortcuts...
RewriteEngine On
RewriteBase   /
RewriteRule   ^bug/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^patch/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^support/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^rfe/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^todo/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^tracker/([0-9]+)$ http://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]

RewriteRule   ^bug/?$ http://sourceforge.net/tracker/?atid=113216&group_id=13216 [R=permanent]
RewriteRule   ^patch/?$ http://sourceforge.net/tracker/?group_id=13216&atid=313216 [R=permanent]
RewriteRule   ^rfe/?$ http://sourceforge.net/tracker/?group_id=13216&atid=363216 [R=permanent]
RewriteRule   ^todo/?$ http://sourceforge.net/tracker/?group_id=13216&atid=759426 [R=permanent]
RewriteRule   ^tracker/?$ http://sourceforge.net/tracker/?group_id=13216 [R=permanent]

#Nicer Wiki URLs...
RewriteEngine On
RewriteBase   /
RewriteCond   %{REQUEST_FILENAME} !-f
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteRule   ^Wiki/(.*)$ /Wiki/index.php?title=$1 [PT,L,QSA]